---
import type { CollectionEntry } from "astro:content";
import {
  Card,
  CardAction,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

import { Button } from "@/components/ui/button";
import { SkillBadge } from "./SkillBadge";

const { project } = Astro.props as { project: CollectionEntry<"dev-projects"> };
---

<Card className="gap-4">
  <CardHeader>
    <CardTitle>{project.data.title}</CardTitle>
    <CardDescription>{project.data.description}</CardDescription>
    <CardAction>
      <a href={`/development/${project.id}`}>
        <Button className="cursor-pointer" variant="default">
          Ver Proyecto
        </Button>
      </a>
    </CardAction>
  </CardHeader>
  <CardContent>
    <div class="flex flex-wrap gap-2 mb-4">
      {project.data.technologies.map((label) => <SkillBadge label={label} />)}
    </div>
    <a
      class="flex items-center justify-center"
      href={`/development/${project.id}`}
    >
      <img
        class="rounded-lg object-cover max-h-48"
        src={project.data.thumbnail}
        alt={project.data.title}
        transition:name={`project-image-${project.id}`}
        transition:persist
      />
    </a>
  </CardContent>
</Card>
