---
import type { CollectionEntry } from "astro:content";
import {
  Card,
  CardAction,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

// Define the Props type using CollectionEntry
interface Props {
  project: CollectionEntry<"dev-projects"> | CollectionEntry<"design-projects">;
}

const { project } = Astro.props;
---

<Card>
  <CardHeader>
    <CardTitle>{project.data.title}</CardTitle>
    <!-- <CardDescription>Card Description</CardDescription> -->
    <CardAction
      ><a href={`/development/${project.slug}`}> Ver Proyecto </a></CardAction
    >
  </CardHeader>
  <CardContent>
    <img src={project.data.thumbnail} alt={project.data.title} />
    <p>{project.data.description}</p>
  </CardContent>
  <!-- <CardFooter>
    <p>Card Footer</p>
  </CardFooter> -->
</Card>
